<div style="width:640px;height:480px;padding-left:1px">
  <script type="text/javascript" src="/sewise-player-master/player/sewise.player.min.js"></script>
  <script type="text/javascript">
      SewisePlayer.setup({
          server: "vod",
          type: "m3u8",
          autostart: "true",
          videourl: "<%= @video_url %>",
//          videourl: "http://211.143.93.150:1936/live/stream:cakl.stream_720p/playlist.m3u8",
          skin: "vodWhite",
          title: "request m3u8 path",
          claritybutton: "disable",
          lang: "zh_CN"
      });
  </script>
</div>
